/* General styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #646464;
}

/* Card styling */
.card {
    width: 400px;
    height: 200px;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.card:hover {
    transform: scale(1.05);
}

/* Header styling */
.card .header {
    text-align: center;
    margin-bottom: 10px;
}

/* Business info styling */
.business-info {
    text-align: center;
    margin-top: 20px;
}

.tagline {
    font-style: italic;
    margin: 10px 0;
}

/* Flexbox layout for Cards 2 and 4 */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-container .contact-info, .flex-container .services-info {
    flex: 1;
    padding: 10px;
}

/* Contact info styling */
.contact-info {
    text-align: left;
}

.contact-info h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #4c4d4f;
}

.contact-info .email {
    color: #d9534f;
}

/* Services info styling */
.services-info h3 {
    font-size: 1em;
    color: #4c4d4f;
}

.services-info ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.9em;
}

.services-info li {
    margin-bottom: 5px;
}
